.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.tile {
  padding: 20px;
  text-align: center;
  background: #eee;
  border-radius: 6px;
  cursor: pointer;
  color: black;
}

.tile.selected {
  background-color: green;
}